*{
    font-family: monospace;
    font-size: large;
    margin: 0;
    /* border:border-box; */
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid grey;
}

.nav-bar{
    background-color: #F6F6F6;
    height:60px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    
    /* padding-top: none; */
}

.nav-logo{
    height: 60px;
    width:150px;
}

.logo{
    background-image: url("images/logo.JPG");
    background-size: cover;
    height: 60px;
    width:200px;
}
.sign-in{
    height: 40px;
    width:100px;
    border-radius: 5px;
    background-color: rgb(125, 168, 246);
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
}

.container {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 900px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 50px;
}

#title,#description{
    text-align:center;
}

.buttons{
    display: flex;
}
html,body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    font-family: Poppins,sans-serif;
    width:100%;
    font-size:16px;
    padding: 10px;
    padding-top: 0;
    margin:0.5rem 0;
    height:100hv;
    background-color: #1b1b32;
}


#Attendance-form{
    width: 60vw;
  max-width: 600px;
  min-width: 400px;
  margin: 0 auto;
  padding-bottom: 1em;
}

.form-group{
    padding:4px;
    margin: 0 0 20px;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}


input[type="text"],input[type="file"],input[type="email"]{
    display: block;
    padding: 1px 2px;
}
label{
    color: white;
     
}

#title{
    font-size: 35px;
}

header{
    color:white;
    margin-bottom: 30px;
    width: 100%;
}

input,select{
    background-color: #0a0a23;
    width:100%;
    margin:10px 0 0 0;
    min-height: 2em;
    border: none;
    color: white;

}
/* input:hover{
    transform: scale(1.2);
} */

.Sem,.Reason{
    color: white;
    min-height: 2em;
}


input[type="date"]{
    /* display: block; */
    width:auto;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
    /* background: linear-gradient(90deg, transparent, #03e9f4);

    animation-delay: .25s */
  }

  input[type="text"]:hover,
  input[type="file"]:hover,
  input[type="email"]:hover,
  select:hover {
      border: 2px solid #3b3b4f; /* Change the color to your preference */
      transform: scale(1.05); /* Increase the size on hover */
      outline: none; /* Remove the default focus outline */
      /* background-color: #f0f0f0; */
  }

    input[type="text"]:focus,
    input[type="file"]:focus,
    input[type="email"]:focus,
    select:focus {
        border: 2px solid #3498db;

    }

  input[type="submit"]:hover {
      border: 2px solid #3b3b4f; /* Change the color to your preference */
      transform: scale(1.1); /* Increase the size on hover */
  }

 
