*{
    font-family: monospace;
    margin: 0;
    border:border-box;
    font-size: large;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid grey;
}

.nav-bar{
    background-color: #F6F6F6;
    height:60px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.nav-logo{
    height: 60px;
    width:150px;
}

.logo{
    background-image: url("images/logo.JPG");
    background-size: cover;
    height: 60px;
    width:200px;
}
.sign-in{
    height: 40px;
    width:100px;
    border-radius: 5px;
    background-color: rgb(125, 168, 246);
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
}